/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
}

.botao {
  padding: 10px 20px;
  background-color: #f0f0f0; /* Off white */
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
